.game-container {
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    max-width: 1200px;
    height: 800px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.main-menu {
    background: white;
    height: 100%;
}

.header-stats{
    span{
        display: inline-block;
    }
}

.guesses {
    float: right;
    width: 30%;
    h1 {
        color: blue;
        font-size: 30px;
    }
}


.screen-word {
    font-size: 24px;
    text-align: center;
    width: 60%;
    float: left;
    position: relative;
    background-image: url(/static/media/theater.7feb7b1e.jpg);
    display: block;
    background-size: cover;
    width: 65%;
    min-height: 475px;
    background-repeat: no-repeat;
    background-position: center;
}

.letters{
    position: absolute;
    left: 37%;
    top: 100px;
}

.guess-letters{
    font-size: 30px;
}