$yel: #EEC25E;

$sal: #F79D84;

$gr: #59CD90;

$bl: #39A0ED;

$r: #EE6352;


.game-container {
    background: #f2f2f2;
    border: 1px solid #cdcdcd;
    max-width: 1200px;
    height: 860px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    
}

.main-menu {
    background: white;
    height: 100%;
}

.header-stats {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    span {
        display: inline-block;
    }
}

.guesses {
    float: right;
    width: 30%;
    text-align: center;
    h1 {
        color: black;
        font-size: 30px;
        font-style: italic;
    }
}


.screen-word {
    font-size: 24px;
    text-align: center;
    width: 60%;
    float: left;
    position: relative;
    display: block;
    background-size: cover;
    width: 65%;
    min-height: 640px;
    border: 4px solid #cdcdcd;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 40px;
    &.countries {
        background: #21315a;
        color: white;
    }
    &.movies{
        background: black;
        color: white;
    }
    .foods {
        background-image: url('./images/food.png');
        height: 42px;
        background-repeat: repeat;
        background-size: auto 100%;
        -webkit-animation: sliderleft 70s linear infinite;
        -moz-animation: sliderleft 70s linear infinite;
    }
    .countries {
        background-image: url('./images/earthleaf.gif');
        background-size: contain;
        height: 118px;
        -webkit-animation: sliderleft 150s linear infinite;
        -moz-animation: sliderleft 150s linear infinite;
    }
    .movies {
        background-image: url('./images/filmstrip.png');
        height: 90px;
        background-repeat: repeat;
        background-size: auto 100%;
        -webkit-animation: sliderleft 60s linear infinite;
        -moz-animation: sliderleft 60s linear infinite;
    }
}

@-webkit-keyframes sliderleft {

    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@-moz-keyframes sliderleft {

    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

.letters {
    position: relative;
    top: 150px;
}

.guess-letters {
    font-size: 30px;
}

.game-over {
    width: 100%;
    height: 100%;
}


.attempt-count {}

.letter-count {
    float: right;
}