.game-container {
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  max-width: 1200px;
  height: 800px;
  margin: 0px auto;
  position: relative;
  overflow: hidden; }

.main-menu {
  background: white;
  height: 100%; }

.header-stats span {
  display: inline-block; }

.guesses {
  float: right;
  width: 30%; }
  .guesses h1 {
    color: blue;
    font-size: 30px; }

.screen-word {
  font-size: 24px;
  text-align: center;
  width: 60%;
  float: left;
  position: relative;
  display: block;
  background-size: cover;
  width: 65%;
  min-height: 475px;
  background-repeat: no-repeat;
  background-position: center; }

.letters {
  position: relative;
  top: 150px; }

.guess-letters {
  font-size: 30px; }

.game-over {
  width: 100%;
  height: 100%; }
